:root{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     --text-primary: #b6b6b6b6;
     --text-secondary: #ececec;
     --transition-speed: 200ms;
     --slider-primary:blue;
     --sldier-border: lightgray;
}
body{
 margin: 0;
 padding: 0;
 background-color:white;
}

.control-text{
    font-size: 1rem;
    margin-right: 0.4rem;
}

#main-div{
    background: white;
    display: flex;
    flex-direction: column;
    width: 55.0132vw;
    height: 34vh;
    margin: 0 auto;
    align-items: center;
    margin-top: 13rem;
    background:white;
    border: solid 1px lightgray;
    opacity: 0.7;
    transition: var(--transition-speed);
}


.hex-viewer{
    width: 100%;
    height: 80%;
    background: inherit;
    padding-top: 0.2rem;
}

.hex{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.3ch;
}
.hex-inner-box{
    display: flex;
    width: 20vw;
    margin: 0 auto;
}

.color-controls{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.alpha-box{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 5rem;
}

#alpha{
    margin-top: 1.2rem;
}

.rgb-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: inherit;
    width: 100%;
    height: 100%;
}

.controls-box{
    display: flex;
    width: 100%;
    height: 50%;
    padding-right: 1.4rem;
}

.dice-container{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#dice{
   
    cursor: pointer;
    opacity: 0.7;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

#dice:hover{
    transform: rotate(-360deg);
}

#dice:hover{
    opacity: 1;
    width:2vw;
    height: 2vh;
}

.copy-text{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    width: 100%;

}

#copy-icon{
    margin-bottom: 0px;
    cursor: pointer;
}


/* rgb sliders colors*/
#red::-webkit-slider-thumb{
   
    background:red;
}

#green::-webkit-slider-thumb{
   
    background: green;
}

#alpha::-webkit-slider-thumb{
   
    background: black;
}

/*slider small*/
.slider-small{
    width: 30%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #d3d3d3;
    outline: none;
    border-radius: 12px;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    margin-bottom: 12px;
}

.slider-small:hover{
    opacity: 1;
    filter: grayscale(0%) opacity(1);
}
.slider-small::-webkit-slider-thumb:hover{
    width: 21px;
    height: 21px;
}
.slider-small::-moz-range-thumb:hover{
    width: 21px;
    height: 21px;
}

.slider-small::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid lightgray;
    border-radius: 50%;
    background:var(--slider-primary);
    cursor: pointer;
}

.slider-small::-moz-range-thumb{
    appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid lightgray;
    border-radius: 50%;
    border-radius: 50%;
    background:var(--slider-primary);
    cursor: pointer;
}

/*tool tip*/
.tooltiptext{
    transition: var(--transition-speed);
    font-size: 12px;
}
.dice-container .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 324px;
    left: 22%;
  }
  
  .dice-container:hover .tooltiptext {
    visibility: visible;
  }
/* copy-text tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .copy-text .copy-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 64%;
    left: 54%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .copy-text .copy-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:black transparent transparent transparent;
  }
  
  .copy-text:hover .copy-tooltiptext {
    visibility: visible;
    opacity: 1;
  }






